<div class="views-container">
    <ngx-ui-loader [loaderId]="'loader-booster'" [fgsType]="spinner" [text]="'Abrindo os Boosters'"></ngx-ui-loader>



    <div class="d-flex flex-row justify-content-center flex-wrap">

        <div class="col-5">
            <input class="form-control" placeholder="Pesquisar personagem" [(ngModel)]="searchText"
                [typeahead]="listChars" (keyup)="onSearch()" [optionsListTemplate]="customListTemplate"
                (typeaheadLoading)="changeTypeaheadLoading($event)" typeaheadOptionField="Name"
                [typeaheadHideResultsOnBlur]="false" [typeaheadWaitMs]="200" [typeaheadMinLength]="0"
                [isAnimated]="true" [typeaheadOptionsLimit]="20">


            <ng-template #customListTemplate let-matches="listChars" let-query="query" let-typeaheadTemplateMethods
                [ngSwitch]="listChars.length > 0">
                <ul class="custom-list-group" *ngSwitchDefault>
                    <li class="custom-list-group-item" *ngFor="let char of listChars"
                        [class.active]="typeaheadTemplateMethods.isActive(char)"
                        (click)="typeaheadTemplateMethods.selectMatch(char, $event)"
                        (mouseenter)="typeaheadTemplateMethods.selectActive(char)">
                        <div class="char-card">
                            <img [src]="char.Image" [alt]="char.Name">
                        </div>
                        <h5>
                            {{char.Name}}
                        </h5>
                    </li>
                </ul>
                <h4 class="text-dark-emphasis" *ngSwitchCase="false"> Carregando</h4>
            </ng-template>
        </div>
    </div>

</div>